* {
  padding: 0;
  margin: 0;
}

body, html {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

.custom-btn {
  background-color: #251d58;
  color: #ffffff;
  border-radius: 24px;
  padding: 15px 20px;
  font-weight: 700;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.custom-btn:hover {
  color: #ffffff;
  background: #473b92;
}

.custom-btn-2 {
  background-color: #251d58;
  color: #ffffff !important;
  border-radius: 4px;
  padding: 10px 55px !important;
  font-weight: 700;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.custom-btn-2:hover {
  color: #ffffff;
  background: #473b92;
}

body {
  background-image: url(../images/full-bck.svg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  background: #ffffff;
}

#nav-wrapper {
  position: relative;
}

#nav-wrapper .custom-navbar-1 {
  font-size: 14px;
  font-weight: 700;
  color: #33303a;
  font-family: "Poppins", sans-serif;
}

#nav-wrapper .custom-navbar-1 li {
  padding: 0 40px 0 0;
}

#nav-wrapper .custom-navbar-1 li a {
  color: #33303a;
}

#nav-wrapper .custom-navbar-2 {
  font-size: 14px;
  font-weight: 700;
  color: #33303a;
  font-family: "Poppins", sans-serif;
  padding: 0;
  z-index: 0;
}

#nav-wrapper .custom-navbar-2 li {
  padding: 0 0 0 20px;
}

#main-header-wrapper {
  background: #F7F7F7;
  color: #33303a;
  font-family: "Poppins", sans-serif;
  position: relative;
  padding: 0px 0px 45px 0px;
}

#main-header-wrapper h1 {
  font-size: 48px;
  font-weight: 700;
  padding: 100px 0px 35px 0;
}

#main-header-wrapper p {
  font-size: 16px;
  font-weight: 400px;
  padding: 0 0px 35px 0px;
}

#main-header-wrapper .header-btn .learn-more {
  text-decoration: none;
  margin: 0 0 0 20px;
  font-size: 14px;
  color: #251d58;
}

#main-header-wrapper .header-btn .learn-more img {
  margin: 0 0 2px 5px;
}

#main-header-wrapper .img-1 {
  border-radius: 6px;
  margin-top: 50px;
}

#best-company-wrapper {
  text-align: center;
  color: #33303a;
  font-family: "Poppins", sans-serif;
  padding: 60px 0;
}

#best-company-wrapper .best-company-content {
  text-align: center;
}

#best-company-wrapper .best-company-content h2 {
  font-size: 34px;
  font-weight: 700;
  padding: 0px 0 35px;
  text-align: center;
}

#best-company-wrapper .best-company-content p {
  font-size: 16px;
  font-weight: 400;
  padding: 0 90px;
  color: #251D58;
}

#best-company-wrapper .custom-card {
  border: none;
}

#best-company-wrapper .custom-card .custom-card-img {
  border-radius: 6px !important;
}

#best-company-wrapper .custom-card img {
  height: 370px;
  width: 350px;
}

#best-company-wrapper .custom-card .custom-card-title {
  font-weight: 700;
}

#best-company-wrapper .custom-card .custom-card-text {
  font-weight: 400;
  font-size: 14px;
  color: #251D58;
}

#bangladesh-wrapper {
  text-align: center;
  color: #33303a;
  font-family: "Poppins", sans-serif;
  padding: 30px 0 20px;
}

#bangladesh-wrapper .ban-content-wrap {
  padding: 65px 0 0;
}

#bangladesh-wrapper .ban-content-wrap h2 {
  font-size: 36px;
  font-weight: 700;
}

#bangladesh-wrapper .ban-content-wrap .ban-body {
  padding: 25px 50px 0;
  font-size: 18px;
  font-weight: 400;
}

#bangladesh-wrapper .ban-content-wrap .ban-bottom-line {
  padding: 20px 0 0;
  font-size: 16px;
  font-weight: 300;
}

#footer-wrapper {
  font-family: "Poppins", sans-serif;
  color: #33303a;
  background: rgba(158, 76, 223, 0.27);
  padding: 45px 0 0;
}

#footer-wrapper .footer-content {
  font-size: 18px;
  font-weight: 300;
  padding: 20px 50px 0 0;
}

#footer-wrapper .footer-content span {
  font-weight: 700;
}

#footer-wrapper .footer-item-wrap {
  font-size: 18px;
}

#footer-wrapper .footer-item-wrap .footer-title {
  padding: 0 0 25px;
}

#footer-wrapper .footer-item-wrap .footer-title h3 {
  font-size: 18px;
  font-weight: 700;
}

#footer-wrapper .footer-item-wrap ul {
  list-style: none;
}

#footer-wrapper .footer-item-wrap ul li {
  padding: 0 0 8px;
}

#footer-wrapper .footer-item-wrap a {
  color: #33303a;
  font-weight: 300;
  text-decoration: none;
  font-size: 18px;
}

#footer-wrapper .footer-item-wrap .sl {
  padding: 0 10px 0 0;
  max-width: 35px;
}

#footer-wrapper .copyright-wrap p {
  margin: o;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
}

#footer-wrapper .copyright-wrap p span {
  font-weight: 400;
}

.login-text {
  color: #111;
  font-weight: 500;
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 20px;
  display: block;
  text-transform: capitalize;
}

.login-social {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(50%, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  margin-bottom: 25px;
}

.login-social a {
  padding: 12px;
  margin: 10px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  font-size: 1rem;
  text-align: center;
  color: #FFF;
  -webkit-transition: .3s;
  transition: .3s;
}

.login-social a i {
  margin-right: 5px;
}

.login-social a.facebook {
  background: #4267B2;
}

.login-social a.twitter {
  background: #1DA1F2;
}

.login-social a.google-plus {
  background: #db4a39;
}

.login-social a.linkedin {
  background: #0e76a8;
}

.login-social a.facebook:hover {
  background: #3d5fa3;
}

.login-social a.twitter:hover {
  background: #1991db;
}

.login-social a.google-plus:hover {
  background: #ca4334;
}

.login-social a.linkedin:hover {
  background: #0b5c81;
}

.login-email .input-group {
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
}

.login-email .input-group input {
  width: 100%;
  height: 100%;
  border: 2px solid #e7e7e7;
  padding: 15px 20px;
  font-size: 1rem;
  border-radius: 30px;
  background: transparent;
  outline: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.login-email .input-group input:focus, .login-email .input-group input:valid {
  border-color: #a29bfe;
}

.login-email .input-group .btn {
  display: block;
  width: 100%;
  padding: 15px 20px;
  text-align: center;
  border: none;
  background: #a29bfe;
  outline: none;
  border-radius: 30px;
  font-size: 1.2rem;
  color: #FFF;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.login-email .input-group .btn:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  background: #6c5ce7;
}

.login-register-text {
  color: #111;
  font-weight: 600;
}

.login-register-text a {
  text-decoration: none;
  color: #6c5ce7;
}

@media (max-width: 430px) {
  .container .login-social {
    display: block;
  }
  .container .login-social a {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */